div {
  /* outline: 1px solid black; */
}

.col-sm-3 {
  display: inline-block;
}

/* .bike {
  display: inline-block;
} */
.col-sm-7 {
  display: inline-block;
  vertical-align: top;
}

.col-sm-2 {
  display: inline-block;
}

span {
  font-weight: lighter;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.title {
  margin-left: 10px;
}


img {
  width: 300px;
}
