<section>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Contact Info</h4>
    </div>
    <div class="modal-body">
      <h2>Name : {{ contactInfo?.first_name }} {{ contactInfo?.last_name }}</h2>
      <h5><a href='mailto:{{ contactInfo?.email }}'>email : {{ contactInfo?.email }}</a></h5>

    </div>

  </ng-template>

  <div>
    <!-- <label for="">Search:</label> -->
    <input class="form-control form-control-lg form-control-borderless" type="text" name="searchBar" [(ngModel)]="searchEngine"
      placeholder="Search.....">
  </div>
  <div class='bikes'>
    <div class='bike' *ngFor='let p of posts | filter: searchEngine'>
      <div class='col-sm-3'>

        <img *ngIf='p.photo' [src]='p.photo'>
      </div>
      <div class='col-sm-7'>
        <h2 class="title">Title: <span>{{ p.title }}</span> </h2>
        <p class="title">Description: {{ p.description }} </p>
      </div>

      <div class='col-sm-2'>
        <h2>Price: <span>{{ p.price | currency:'USD':true }}</span> </h2>
        <h4>Location: <span>{{ p.location }}</span> </h4>
      </div>
      <h5>Updated: <span>{{ p.createdAt }}</span></h5>

      <button class='btn btn-info' (click)='open(content)' (click)='onContact(p._id)' *ngIf='p.users != userID'>Contact</button>
      <button class='btn btn-danger' (click)='onDelete(p._id)' *ngIf='p.users == userID'>Delete</button>
      <hr>
    </div>
    <br>
  </div>
</section>
